Bài 5.1

In [ ]:
import sqlite3

conn = sqlite3.connect("bai5.1.db")

cursor = conn.cursor()

cursor.execute("SELECT sqlite_version();")
version = cursor.fetchone()

print("SQLite version:", version[0])

cursor.close()
conn.close()

SQLite version: 3.45.3

Bài 5.2

In [ ]:
import sqlite3

conn = sqlite3.connect(":memory:")

print("Đã kết nối tới CSDL SQLite trong bộ nhớ")

conn.close()

Đã kết nối tới CSDL SQLite trong bộ nhớ

Bài 5.3

In [ ]:
import sqlite3

conn = sqlite3.connect("bai5.3.db")
cursor = conn.cursor()

cursor.execute("""
    CREATE TABLE IF NOT EXISTS sinh_vien (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        ten TEXT NOT NULL,
        tuoi INTEGER
    )
""")

conn.commit()
print("Đã tạo bảng sinh_vien")

cursor.close()
conn.close()

Đã tạo bảng sinh_vien

Bài 5.4

In [ ]:
import sqlite3

conn = sqlite3.connect("bai5.3.db")
cursor = conn.cursor()

cursor.execute("""
    SELECT name 
    FROM sqlite_master 
    WHERE type='table'
""")

tables = cursor.fetchall()

print("Danh sách các bảng trong CSDL:")
for table in tables:
    print(table[0])

cursor.close()
conn.close()

Danh sách các bảng trong CSDL:
sinh_vien
sqlite_sequence

Bài 5.5

In [ ]:
import sqlite3

conn = sqlite3.connect("bai5.5.db")
cursor = conn.cursor()

cursor.execute("""
    CREATE TABLE IF NOT EXISTS nhan_vien (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        ten TEXT,
        tuoi INTEGER,
        luong REAL
    )
""")

cursor.execute("INSERT INTO nhan_vien (ten, tuoi, luong) VALUES (?, ?, ?)",
               ("Trần Trung Kiên", 18, 15000000))
cursor.execute("INSERT INTO nhan_vien (ten, tuoi, luong) VALUES (?, ?, ?)",
               ("Nguyễn Đức Minh", 36, 20000000))

conn.commit()

cursor.execute("SELECT * FROM nhan_vien")
rows = cursor.fetchall()

print("Danh sách nhân viên:")
for row in rows:
    print(row)

cursor.close()
conn.close()

Danh sách nhân viên:
(2, 'Trần Văn B', 36, 26000000.0)
(3, 'Trần Trung Kiên', 18, 21000000.0)
(4, 'Nguyễn Đức Minh', 36, 26000000.0)
(5, 'Trần Trung Kiên', 18, 19000000.0)
(6, 'Nguyễn Đức Minh', 36, 24000000.0)
(7, 'Trần Trung Kiên', 18, 17000000.0)
(8, 'Nguyễn Đức Minh', 36, 22000000.0)
(9, 'Trần Trung Kiên', 18, 15000000.0)
(10, 'Nguyễn Đức Minh', 36, 20000000.0)

Bài 5.6

In [ ]:
import sqlite3

conn = sqlite3.connect("bai5.5.db")
cursor = conn.cursor()

cursor.execute("SELECT COUNT(*) FROM nhan_vien")
count = cursor.fetchone()

print("Số bản ghi trong bảng nhan_vien:", count[0])

cursor.close()
conn.close()

Số bản ghi trong bảng nhan_vien: 9

Bài 5.7

In [20]:
import sqlite3

conn = sqlite3.connect("bai5.5.db")
cursor = conn.cursor()

cursor.execute("""
    UPDATE nhan_vien
    SET luong = luong + 2000000
""")

conn.commit()

print("Số dòng được cập nhật:", conn.total_changes)

cursor.execute("SELECT * FROM nhan_vien")
for row in cursor:
    print(row)

cursor.close()
conn.close()

Số dòng được cập nhật: 9
(2, 'Trần Văn B', 36, 28000000.0)
(3, 'Trần Trung Kiên', 18, 23000000.0)
(4, 'Nguyễn Đức Minh', 36, 28000000.0)
(5, 'Trần Trung Kiên', 18, 21000000.0)
(6, 'Nguyễn Đức Minh', 36, 26000000.0)
(7, 'Trần Trung Kiên', 18, 19000000.0)
(8, 'Nguyễn Đức Minh', 36, 24000000.0)
(9, 'Trần Trung Kiên', 18, 17000000.0)
(10, 'Nguyễn Đức Minh', 36, 22000000.0)

Bài 5.8

In [21]:
import sqlite3

conn = sqlite3.connect("bai5.5.db")
cursor = conn.cursor()

cursor.execute("DELETE FROM nhan_vien WHERE id = ?", (1,))
conn.commit()

print("Số bản ghi đã xóa:", conn.total_changes)

cursor.execute("SELECT * FROM nhan_vien")
for row in cursor:
    print(row)

cursor.close()
conn.close()

Số bản ghi đã xóa: 0
(2, 'Trần Văn B', 36, 28000000.0)
(3, 'Trần Trung Kiên', 18, 23000000.0)
(4, 'Nguyễn Đức Minh', 36, 28000000.0)
(5, 'Trần Trung Kiên', 18, 21000000.0)
(6, 'Nguyễn Đức Minh', 36, 26000000.0)
(7, 'Trần Trung Kiên', 18, 19000000.0)
(8, 'Nguyễn Đức Minh', 36, 24000000.0)
(9, 'Trần Trung Kiên', 18, 17000000.0)
(10, 'Nguyễn Đức Minh', 36, 22000000.0)

Bài 5.9

In [22]:
import pandas as pd

data = [
    ["REGION_ID", "REGION_NAME"],
    [1, "Europe"],
    [2, "America"],
    [3, "Asia"],
    [4, "Middle East and Africa"]
]

with open("region.csv", "w", encoding="utf-8") as file:
    for row in data:
        file.write(",".join(map(str, row)) + "\n")

print("Đã tạo file region.csv")

Đã tạo file region.csv

In [ ]:
df = pd.read_csv("region.csv")
print("Dữ liệu trong file region.csv:")
print(df)

Dữ liệu trong file region.csv:
   REGION_ID             REGION_NAME
0          1                  Europe
1          2                 America
2          3                    Asia
3          4  Middle East and Africa

Bài 5.10

In [24]:
import sqlite3

def connect_db():
    return sqlite3.connect("product.db")

def create_table():
    conn = connect_db()
    cursor = conn.cursor()
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS product (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            price REAL NOT NULL,
            amount INTEGER NOT NULL
        )
    """)
    conn.commit()
    conn.close()

def show_products():
    conn = connect_db()
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM product")
    rows = cursor.fetchall()
    print("\nDanh sách sản phẩm:")
    for row in rows:
        print(row)
    conn.close()

def add_product(name, price, amount):
    conn = connect_db()
    cursor = conn.cursor()
    cursor.execute(
        "INSERT INTO product (name, price, amount) VALUES (?, ?, ?)",
        (name, price, amount)
    )
    conn.commit()
    conn.close()

def find_product(name):
    conn = connect_db()
    cursor = conn.cursor()
    cursor.execute(
        "SELECT * FROM product WHERE name LIKE ?",
        ('%' + name + '%',)
    )
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    conn.close()

def update_product(product_id, price, amount):
    conn = connect_db()
    cursor = conn.cursor()
    cursor.execute("""
        UPDATE product
        SET price = ?, amount = ?
        WHERE id = ?
    """, (price, amount, product_id))
    conn.commit()
    conn.close()

def delete_product(product_id):
    conn = connect_db()
    cursor = conn.cursor()
    cursor.execute("DELETE FROM product WHERE id = ?", (product_id,))
    conn.commit()
    conn.close()

In [ ]:
create_table()

add_product("Laptop", 15000000, 10)
add_product("Kiên", 300000, 50)

show_products()

print("\nTìm sản phẩm chứa 'Lap':")
find_product("Lap")

update_product(1, 14000000, 8)
delete_product(2)

show_products()

Danh sách sản phẩm:
(1, 'Laptop', 14000000.0, 8)
(3, 'Laptop', 15000000.0, 10)
(4, 'Kiên', 300000.0, 50)
(5, 'Laptop', 15000000.0, 10)
(6, 'Kiên', 300000.0, 50)
(7, 'Laptop', 15000000.0, 10)
(8, 'Kiên', 300000.0, 50)

Tìm sản phẩm chứa 'Lap':
(1, 'Laptop', 14000000.0, 8)
(3, 'Laptop', 15000000.0, 10)
(5, 'Laptop', 15000000.0, 10)
(7, 'Laptop', 15000000.0, 10)

Danh sách sản phẩm:
(1, 'Laptop', 14000000.0, 8)
(3, 'Laptop', 15000000.0, 10)
(4, 'Kiên', 300000.0, 50)
(5, 'Laptop', 15000000.0, 10)
(6, 'Kiên', 300000.0, 50)
(7, 'Laptop', 15000000.0, 10)
(8, 'Kiên', 300000.0, 50)

Bài 5.11

In [ ]:
import sqlite3

conn = sqlite3.connect("nhan_vien.db")
cursor = conn.cursor()

cursor.execute("""
    CREATE TABLE IF NOT EXISTS PHONG (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL
    )
""")

cursor.execute("""
    CREATE TABLE IF NOT EXISTS NHAN_VIEN (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        ho_ten TEXT NOT NULL,
        tuoi INTEGER NOT NULL,
        dia_chi TEXT NOT NULL,
        luong REAL NOT NULL,
        id_phong INTEGER,
        FOREIGN KEY (id_phong) REFERENCES PHONG(id)
    )
""")

conn.commit()

cursor.execute("INSERT INTO PHONG (name) VALUES (?)", ("Bảo vệ",))
cursor.execute("INSERT INTO PHONG (name) VALUES (?)", ("Vệ sinh môi trường",))

cursor.execute("""
    INSERT INTO NHAN_VIEN (ho_ten, tuoi, dia_chi, luong, id_phong)
    VALUES (?, ?, ?, ?, ?)
""", ("Trần Trung Kiên", 18, "Nam Định", 15000000, 1))

cursor.execute("""
    INSERT INTO NHAN_VIEN (ho_ten, tuoi, dia_chi, luong, id_phong)
    VALUES (?, ?, ?, ?, ?)
""", ("Nguyễn Đức Minh", 35, "Ninh Bình", 18000000, 2))

conn.commit()

cursor.execute("""
    SELECT NV.ho_ten, NV.tuoi, NV.luong, P.name
    FROM NHAN_VIEN NV
    JOIN PHONG P ON NV.id_phong = P.id
""")

print("\nDanh sách nhân viên:")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

Danh sách nhân viên:
('Trần Trung Kiên', 18, 15000000.0, 'Bảo vệ')
('Nguyễn Đức Minh', 35, 18000000.0, 'Vệ sinh môi trường')
('Trần Trung Kiên', 18, 15000000.0, 'Bảo vệ')
('Nguyễn Đức Minh', 35, 18000000.0, 'Vệ sinh môi trường')
('Trần Trung Kiên', 18, 15000000.0, 'Bảo vệ')
('Nguyễn Đức Minh', 35, 18000000.0, 'Vệ sinh môi trường')